# Ignore the virtual environment directory
venv/           

# Ignore environment variable configuration files
.env            

# Ignore Python's compiled bytecode directory
__pycache__/        

# Ignore Visual Studio Code settings directory
.vscode/          

# Ignore log files
log/           

# Ignore citation information file
citation.json          
# Ignore input data files
input.json        

# Ignore ChromeDriver executable
chromedriver        

# Ignore directory for failed requests or operations
failed/             

# Ignore SQLite database file
db.sqlite3          

# Ignore JSON file containing a list of websites
_websites_.json    

# Ignore text file with search queries
search_queries.txt     
