<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCitation Program</title>
    <link rel="stylesheet" href="./Citer/templates/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">AutoCitation</h1>
        <p class="description">A program made for making things easier.</p>
        <button class="start-btn" onclick="startProcess()">Run All</button>

        <div class="progress-circle" id="progress-circle">
            <div class="progress-text" id="progress-text">Start</div>
        </div>
    </div>
    <script src="Citer/templates/script.js"></script>
</body>
</html>